
.table {
  min-width: 350px
}
.dropdown:hover {
  text-decoration: none !important;
  color: #09152B !important
}
.input {
  border-style: none;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
