.table {
  min-width: 350px;
}
.dropdown:hover {
  text-decoration: none !important;
  color: #09152b !important;
}
.input {
  border-style: none;
  width:60%;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
