.dropdown:hover {
  text-decoration: none !important;
  color: #09152b !important;
}
.input {
  border: none;
  max-width: 344px;
  text-align: center;

  &:focus{
      outline: none;
  }
  @media (max-width: 425px) {
    width: 100%;
  }
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
