.nav-bar {
  margin-top: 24px;

  .menu-button {
    max-width: 170px;
    border-color: transparent;
    margin-left: 24px;
    white-space: nowrap;

    &:hover {
      color: #09152b;
      text-decoration: none;
      cursor: pointer;
    }

    @media (max-width: 992px) {
      margin: 20px 0 0 20px
    }
  }

  .active {
    color: #09152b;
  }

  .login-button {
    border: 2px solid #8b7cf1;
    border-radius: 4px;
    @media (max-width: 992px) {
    }
  }

  .navbar-links {
    @media (max-width: 992px) {
      //margin-top: 24px;
    }
  }

}
