.loan-create-card {
  height: 30rem;
  .supply-button {
    margin-top: 5rem;
  }

  .eth {
    height: 2rem;
    position: relative;
    top: 0.5rem;
    left: 1rem;
  }
  .dai {
    height: 3rem;
    position: relative;
    top: -0.7rem;
  }
}
