.footer {
  height: 48px;
  border-top: 1px solid #d7dae2;
}
.status-circle {
  width: 11px;
  height: 11px;
  background-color: #82C43C;
  border-radius: 50%;
  margin: 5px;

  .success{
    background-color: #82C43C;
  }
}
