@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@500&display=swap");

$theme-colors: (
  "primary": #8b7cf1,
);

@import "~bootstrap/scss/bootstrap.scss";

body {
  font-family: "IBM Plex Sans", sans-serif;
  color: #09152b;
  overflow-y: scroll !important;
  padding-right: 0 !important;
}
.app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;

  .main-content {
    flex-grow: 1;
  }
  .link:hover {
    text-decoration: none !important;
    color: #09152b !important;
    cursor: pointer;
  }
}
.border-thin {
  border: 1px solid #d7dae2;
  border-radius: 4px;
}
.flex-1 {
  flex: 1;
}
.flex-2 {
  flex: 2;
}
.w-80 {
  @media (max-width: 992px) {
    width: 80vw !important;
  }
}
.cards-container {
  display: flex;
  flex-wrap: wrap;
  flex: 1;
  justify-content: center;
  align-content: center;
}
.font-medium {
  font-weight: 500 !important;
}
.text-black {
  color: #09152b;
}
.text-gray {
  color: #394455;
}
.text-lightest-gray {
  color: #6b7380;
}
.text-green {
  color: #82c43c;
}
.text-yellow {
  color: #f5ac37;
}
.text-red {
  color: #fc5a5a;
}
.text-xs {
  font-size: 0.75rem; //12px
}
.text-sm {
  font-size: 0.875rem; //14px
}
.text-lg {
  font-size: 1.125rem; //18px
}
.text-xl {
  font-size: 1.25rem; //20px
}
.text-2xl {
  font-size: 1.5rem; // 24px
}
.text-3xl {
  font-size: 1.875rem; //30px
}
.text-4xl {
  font-size: 2.25rem; //30px
}
.text-5xl {
  font-size: 3rem; //48px
}
.-my-2 {
  margin-top: -($spacer * 0.5) !important;
  margin-bottom: -($spacer * 0.5) !important;
}
.-mx-2 {
  margin-left: -($spacer * 0.5) !important;
  margin-right: -($spacer * 0.5) !important;
}
.pointer {
  cursor: pointer;
}
.disabled {
  cursor: not-allowed;
}
.opacity-80 {
  opacity: 0.8;
}
.input {
  border: none;
  max-width: 344px;
  text-align: center;

  &:focus {
    outline: none;
  }
  @media (max-width: 425px) {
    width: 100%;
  }
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.btn-link:focus {
  text-decoration: none;
}
.container-wrapper {
  max-width: 1400px;
  margin: auto;
}
