.metrics-card {
  @media (min-width: 992px) {
    flex: 1;
    flex-grow: 1;
    max-width: 270px;
  }
  @media (max-width: 992px) {
    flex: 1;
    flex-grow: 1;
  }
}
.main-card {
  width: 560px;
  @media (max-width: 992px) {
    flex: 1;
    flex-grow: 2;
  }
}
