.top-warning {
  margin: 0px;
  color: white;
  background-color: #6b7380;
  height: 40px;
  width: 100%;
  display: flex;
  justify-content: center;
  font-size: 14px;
  align-items: center;
  position: absolute;
  z-index: 15;
}
